{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %} Default {% endblock %}</title>
        {% block headextra %}{% endblock %}
       
         
    </head>
    <body>
        <div id="centeredContent">

        {% block content %}{% endblock %}


        </div>
    </body>
</html>