{# 
empty Twig template
- city name is between 2 and 50 characters long
- temperature (in Celsius) is between -100 and 100 (inclusive)
- date of reading is a valid date
#}


{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    City: <input type="text" name="city" value="{{v.city}}"><br>
    Temperature: <input type="number" name="tempCel"  value="{{v.tempCel}}"><br>
    Date of reading: <input type="date" name="readOn"  value="{{v.readOn}}"><br>

    <input type="submit" value="Register">
</form>
    
    