
body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 400px; /* 960px */
    background-color: white;        
}